:root {
    --u-pink: #ff678b;
    --u-dark-red-shadow: rgba(253, 13, 13, .25);
    --u-font-sans-serif: 'Poppins', sans-serif;
    --u-font-serif: 'Roboto Slab', serif;
}

.fs-n1 {
    font-size: .85rem !important
}

.btn-outline-pink {
    color: var(--u-pink);
    border-color: var(--u-pink);
}

.btn-outline-pink:hover,
.btn-outline-pink:active {
    background-color: var(--u-pink);
    border-color: var(--u-pink);
}

.btn-outline-pink:focus {
    box-shadow: 0 0 0 .25rem var(--u-dark-red-shadow);
}

.form-control.form-color-pink:focus {
    border-color: var(--u-pink);
    box-shadow: 0 0 0 .2rem var(--u-dark-red-shadow);
}

.border-pink {
    border-color: var(--u-pink);
}
